:root {
  --background-primary: #050505;
  --background-secondary: #0a0a0a;

  --color-primary: #00b395;
  --color-secondary: #f5ebed;
  --color-text-seccion-1: #b5aeb0;
  --color-text-sobre-mi: #ccc4c6;

  --color-border: #212121;

  --color-text-input: #857f81;
  --color-text-nav: #ccc4c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Header */

header {
  background-color: var(--background-primary);
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-border);

  .container-header {
    width: 90%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .conteiner-nombre {
      a {
        text-decoration: none;
        color: var(--color-primary);

        h1 {
          font-size: 1.4rem;
        }
      }
    }

    nav {
      ul {
        display: flex;
        gap: 0.2rerem;

        li {
          list-style: none;

          a {
            text-decoration: none;
            color: var(--color-text-nav);
            padding: 0.3rem 1rem;
            border: 1px solid transparent;

            transition: 0.3s ease-in-out;

            &:hover {
              color: var(--color-primary);
              border: 1px solid var(--color-primary);
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
}

/* Sección 1 */

.seccion-1 {
  background-color: var(--background-primary);
  padding: 6rem 0;

  .container-seccion-1 {
    width: 60%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;

    .container-seccion-text {
      display: flex;
      flex-direction: column;

      h2 {
        color: var(--color-secondary);
        font-size: 3.5rem;

        span {
          color: var(--color-primary);
        }
      }

      p {
        color: var(--color-text-seccion-1);
        font-size: 1.2rem;
        padding: 2rem 0;
      }

      .container-buttons {
        display: flex;
        gap: 1rem;

        a {
          text-decoration: none;
          padding: 0.8rem 1.3rem;
          border-radius: 5px;
        }

        .button-contactame {
          display: flex;
          align-items: center;
          gap: 0.3rem;

          background-color: var(--color-primary);
          color: var(--background-primary);
          svg {
            transition: 0.3s ease-in-out;
          }

          &:hover {
            background-color: #009b81;

            svg {
              transform: translateX(4px);
            }
          }
        }

        .button-proyectos {
          border: 1px solid var(--color-border);
          color: var(--color-secondary);

          &:hover {
            background-color: #181818;
          }
        }
      }
    }

    .container-img-perfil {
      img {
        width: 20rem;
        border: 1px solid var(--color-primary);
        border-radius: 10px;
      }
    }
  }
}

/* Sección 2 */

.seccion-2 {
  background-color: var(--background-secondary);
  padding: 6rem 0;

  h3 {
    text-align: center;
    color: var(--color-secondary);
    font-size: 2.5rem;
  }

  .container-seccion-2 {
    width: 60%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .img-sobre-mi {
      img {
        width: 20rem;
        border-radius: 10px;
      }
    }

    .sobre-mi-texts {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      p {
        font-size: 1.2rem;
        line-height: 1.4;
        color: var(--color-text-sobre-mi);

        span {
          color: var(--color-primary);
        }
      }
    }
  }
}
